<h1><%= @dream.title %>, by <%= link_to @dream.user.name, user_path(@dream.user) %>, on <%= @dream.clean_date %></h1>

<% if @dream.dream_type=="nightmare" %>
<h3><strong><%= @dream.dream_type.upcase %></strong><br></h3>
<% end %>

<p><%= @dream.description %></p>

<h2>Elements</h2>
<ul>
  <% @dream.elements.each do |element| %>
    <li><%= link_to element.name, element_path(element) %></li>
  <% end %>
</ul>

<%if correct_user?(@dream) %>
<%= button_to "Edit This Dream!", edit_dream_path(@dream), method: 'get' %>
<% end %>
