<!DOCTYPE html>
<html>
  <head>
    <title>TeamDream</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <%=link_to "TeamDream!", root_path %> |
      <%= link_to "Dream Feed", dreams_path %> |
      <%= link_to "Elements", elements_path %> |
      <% if logged_in? %>
      <%= link_to "Log Out", session_path, method: 'delete' %> |
      <%= link_to current_user.name, user_path(current_user) %>
      <% else %>
      <%=link_to "Log In", root_path %> |
      <%= link_to "Sign Up", new_user_path%>
      <% end %>

    </nav>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
